In [9]:
import pandas as pd 
from category_encoders import BinaryEncoder

In [10]:
data = {
    'Device':['Laptop','Tv','SmartPhone','Microwave','Tablet'],
    'Portable':['Yes','No','Yes','No','Yes']    
}

In [11]:
df = pd.DataFrame(data)
df

       Device Portable
0      Laptop      Yes
1          Tv       No
2  SmartPhone      Yes
3   Microwave       No
4      Tablet      Yes

In [12]:
encoder = BinaryEncoder(cols='Portable')
df_encoded = encoder.fit_transform(df)
df_encoded

       Device  Portable_0  Portable_1
0      Laptop           0           1
1          Tv           1           0
2  SmartPhone           0           1
3   Microwave           1           0
4      Tablet           0           1