In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [2]:
data = {'Item':['Shirt','Jeans','Dress','T-Shirt','Skirt'],
        'Color':['Blue','Black','Red','White','Yellow'],
        'Size':['Medium','Large','Small','Medium','X-Large']}

In [3]:
df =pd .DataFrame(data)

In [4]:
df

      Item   Color     Size
0    Shirt    Blue   Medium
1    Jeans   Black    Large
2    Dress     Red    Small
3  T-Shirt   White   Medium
4    Skirt  Yellow  X-Large

In [5]:
encoder = LabelEncoder()
df['Encoded_size']= encoder.fit_transform(df.Size)

In [6]:
df

      Item   Color     Size  Encoded_size
0    Shirt    Blue   Medium             1
1    Jeans   Black    Large             0
2    Dress     Red    Small             2
3  T-Shirt   White   Medium             1
4    Skirt  Yellow  X-Large             3