In [3]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [6]:
data = {'Fruit':['Apple','Banana','Orange','Grape','Lemon'],
        'Color':['Red','Yellow','Orange','Purple','Yellow'],
       }

In [7]:
df =pd .DataFrame(data)
df

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange
3   Grape  Purple
4   Lemon  Yellow

In [10]:
encoder = OneHotEncoder()
encoded_color = encoder.fit_transform(df[['Color']]).toarray()

In [12]:
encoded_df = pd.DataFrame(encoded_color,columns=encoder.get_feature_names_out(['Color']))

In [14]:
df_encoded = pd.concat([df,encoded_df],axis=1)

In [15]:
df_encoded

    Fruit   Color  Color_Orange  Color_Purple  Color_Red  Color_Yellow
0   Apple     Red           0.0           0.0        1.0           0.0
1  Banana  Yellow           0.0           0.0        0.0           1.0
2  Orange  Orange           1.0           0.0        0.0           0.0
3   Grape  Purple           0.0           1.0        0.0           0.0
4   Lemon  Yellow           0.0           0.0        0.0           1.0