In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
data = {
    'feature1':[1,2,3,4,5,6,7,8,9,10],
    'feature2':[10,9,8,7,6,5,4,3,2,1],
    'Target':[0,0,1,0,1,1,0,1,1,0]
}
df = pd.DataFrame(data)
df

   feature1  feature2  Target
0         1        10       0
1         2         9       0
2         3         8       1
3         4         7       0
4         5         6       1
5         6         5       1
6         7         4       0
7         8         3       1
8         9         2       1
9        10         1       0

In [3]:
X = df[['feature1','feature2']]
y = df[['Target']]

In [4]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [6]:
len(X_train)

7

In [7]:
len(X_test)

3